<article class="product-card">
  <a href="{{ product.url }}" class="product-card__link">
    <img class="product-card__image" src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}" />
    <h3 class="product-card__title">{{ product.title }}</h3>
  </a>
  <p class="product-card__price">{{ product.price | money }}</p>
  <a href="{{ product.url }}" class="product-card__button">詳細を見る</a>
</article>